.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 3rem;
}

.carousel-viewport {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 1rem;
  will-change: transform;
}

.carousel-item {
  flex: 0 0 60%;
  opacity: 0.5;
  transform: scale(0.8);
  transition: all 0.5s ease-in-out;
  max-width: 600px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.carousel-item.active {
  opacity: 1;
  transform: scale(1);
  z-index: 2;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  font-size: 4rem;
  color: #f08606;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.carousel-control.prev {
  left: 2rem;
}

.carousel-control.next {
  right: 2rem;
}