@import url('telma.css');

body {
    background: #7DA688;
}

main {
    max-width: 80%;
    margin: auto;
    padding: 1.5rem;
    background-color: #166c96;
    display: flex;
    flex-direction: column;
}

header {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 2rem;
    }

header a {
      text-decoration: none;
      font-size: 2rem;
      font-weight: 500;
      color: #000;
    }

header a:hover {
      text-decoration: underline;
      transform: scale(1.25);
    }

.logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

.logo img {
      width: 75px;
      height: 100px;
    }



p {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  text-align: center;
  position: relative;
  max-width: 700px;
  color: #0e1e7c;
}

h3 {
  font-family: "poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  position: relative;
  max-width: 700px;
  color: #0e1e7c;
}

.intro-text {
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;
  text-align: center;
  position: relative;
  max-width: 700px;
  color: #000000;
}

/* BODY STUFF */
.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-container {
  background-color: #ebe3c5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
  padding: 2rem 2rem 0 2rem;
  max-width: 75%;
  border-radius: 10px;
}

.center-container img {
  max-width: 450px; 
  border-radius: 50%;
}

.myName {
  font-family: 'Telma-Bold';
  font-size: 2.5rem;
  color: #0e1e7c;
}



/* nav styles */
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #0e1e7c;
  }
  
  
  
  .expanded {
    display: unset;
  }


  html.dark {
    background-color: #F5D048;
    color: #fff;
  }
  
  .dark .nav-links a {
    color: #fff;
  }

  
  @media screen and (min-width: 636px) {
    .nav-links {
      margin-left: 5em;
      display: block;
      position: static;
      width: auto;
      background: none;
    }
  
    .nav-links a {
      display: inline-block;
      padding: 15px 20px;
    }
  
    .hamburger {
      display: none;
    }
  }