body {
    font-family: Arial, sans-serif;
    background-color: #7DA688;
}

/* header {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      padding: 1rem;
      border-bottom: 1px solid #ccc;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    header a {
      text-decoration: none;
      font-size: 2rem;
      font-weight: 500;
      color: #000;
    }

    header a:hover {
      text-decoration: underline;
    }

    .logo {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .logo img {
      width: 75px;
      height: 100px;
    } */

/* .container {
    width: 80%;
    margin: 2rem auto;
} */

.portfolio-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.portfolio-item img {
    max-width: 100%;
    border-radius: 5px;
}

.portfolio-item h2 {
    margin-top: 0;
}

.portfolio-item p {
    color: #666;
}

