body {
    font-family: Arial, sans-serif;
    background-color: #7DA688;
}


/* .portfolio-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.portfolio-item img {
    max-width: 100%;
    border-radius: 5px;
}

.portfolio-item h2 {
    margin-top: 0;
}

.portfolio-item p {
    color: #666;
} */

.project-layout-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1rem;
}

.project-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 2rem;
}

.project-item {
    text-align: center;
    transition: transform 0.3s ease;
    text-decoration: none !important;
    max-width: 80%;
    margin: 0 auto;
}

.project-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.project-item:hover {
    transform: scale(1.05);
}

.project-item h4 {
    margin-top: 0.5rem;
}