---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About the Creator";

const skills = ['project', 'first', 'html', 'css', 'javascript', 'soccer']
---

<BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
	<p>
		This is my about me! You will learn so much from me and I won't learn anything from you cause YOU ARE A WEBSITE!
		</p>

		<ul>
			{skills.map( (skill) => (
				<li>{skill}</li>
			))}
		</ul>
  
  </BaseLayout>