---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <p>
	Hey, I’m Joey. <br>
		I’m a UX/UI designer and Front-End Developer. I want to develop and create products to help grow humans. I believe deeply in empathic and natural connections. People deserve to be able to carve their own space in this vast space we call the WORLD WIDE WEB. I would love to help create those connections. Let’s get emotional.
	</p>
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
	
</BaseLayout>