---
import '../styles/global.css';

import Navigation from '../components/Navigation.astro';

import Footer from '../components/Footer.astro';

import Header from '../components/Header.astro';

const siteName = "Joey's Digital Garden";


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{siteName}</title>
	</head>
	<body>
		<h1>{siteName}</h1>

		
		<Header />

		<p>
			Welcome to my digital garden! This is a collection of notes, thoughts, and
			ideas that I've been working on. It's a place for me to think out loud and
			share what I'm learning.
			</p>

			<Footer />
		

	</body>
</html>
