---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>My awesome blog subtitle</h2>
  <p>
	Welcome to my digital garden! This is a collection of notes, thoughts, and
	ideas that I've been working on. It's a place for me to think out loud and
	share what I'm learning.
	</p>

</BaseLayout>