---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
const siteName = "Joey's Portfolio";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{siteName}</title>
	</head>
	<body>
		<h1>{siteName}</h1>

        <Navigation />

		<p>
			This is my portfolio site. It's built with Astro.
			</p>

	</body>
</html>
