---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Joey's Portfolio";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
	<p>
		This is my portfolio site. It's built with Astro.
		</p>
  
  </BaseLayout>