---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
import ImageCarousel from '../components/ImageCarousel.astro';
import "../styles/portfolio.css";
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "My Portfolio";
const carouselImages = [
  'public/assets/DigiKitty/digi_landing.png',
  'public/assets/DigiKitty/digi_pet.png',
  'public/assets/DigiKitty/digi_selection.png'
];
---
<BaseLayout pageTitle={pageTitle}>
	<h2>My awesome blog subtitle</h2>
	<ImageCarousel images={carouselImages} />	<ul>
		{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
	  </ul>
  
  </BaseLayout>