---
---

<footer>
<a href="https://linkedin.com/in/joeysanchirico" target="_blank"><img src="/assets/LinkedIn.svg" alt="LinkedIn"></a>
<a href="https://www.figma.com/proto/DmxX3XKQQj9b1ArLczU847/Sanchirico-Portfolio?node-id=0-1&t=W1HGb3EtCPjrZASO-1" target="_blank"><img src="/assets/Figma.svg" alt="Figma"></a>
<a href="https://github.com/jsanch93" target="_blank"><img src="/assets/GitHub.svg" alt="GitHub"></a>
<a href="mailto:joeysanchirico@gmail.com" target="_blank"><img src="/assets/Email.svg" alt="Email"></a>

</footer>
