---
import "../styles/carousel.css";
const { images = [] } = Astro.props;
--- 



<div class="carousel">
  <div class="carousel-track">
    {images.map(src => (
      <img src={src} class="carousel-image" />
    ))}
  </div>
  <button class="carousel-button prev">‹</button>
  <button class="carousel-button next">›</button>
</div>
<script>
  import "../scripts/carousel.js";
</script>