---
import "../styles/global.css";
---
<div class="nav-links">

</div>
    	<header>
    <a href="/">Home</a>

    <div class="logo">
      <img src="/assets/myLogo.png" alt="Logo">
    </div>

    <a href="/portfolio">Portfolio</a>
  </header>
    
