---

---
<div class="nav-links">

    <a href="/">Home</a>
    <img src="../assets/myLogo.png" alt="my logo" class="logo">
    <a href="/portfolio">Portfolio</a>
    <!-- <a href="/about">About</a> -->
    
</div>
