---
const { platform, username } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>


<style>
    a {
      padding: 0.5rem 1rem;
      color: white;
      background-color: #7DA688;
      display: inline-block;
      align-items: center;
      width: auto;
      text-decoration: none;
      border-radius: 0.25rem;
    }
  </style>