---
import BaseLayout from './BaseLayout.astro';
import "../styles/carousel.css";
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>

  <header>
    <a href="/">Home</a>

    <div class="logo">
      <img src="/assets/myLogo.png" alt="Logo">
    </div>

    <a href="/portfolio">Portfolio</a>
  </header>

  
  <div class="carousel">
    <div class="carousel-inner">
      {(() => {
        const elements = [];
        for (let index = 0; index < frontmatter.image.length; index++) {
          const image = frontmatter.image[index];
          elements.push(
            <picture>
              <div class={`carousel-item ${index === 0 ? 'active' : ''}`}>
                <img src={`/assets/${image}`} alt={`Slide ${index + 1}`} />
              </div>
            </picture>
          );
        }
        return elements;
      })()}
      
    </div>
    <button class="carousel-control-prev" onclick="prevSlide()">&#10094;</button>
    <button class="carousel-control-next" onclick="nextSlide()">&#10095;</button>
  </div>
  <slot />
  <p><em>{frontmatter.description}</em></p>
 
  
  <script src="../scripts/carousel.js"></script>
</BaseLayout>